<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650671993158-o7dl8480270pk66gh9ctdfo59o47ol82.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650671993158-o7dl8480270pk66gh9ctdfo59o47ol82</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>650671993158-4p6h76quqr7k8tni9h5d0sjris6lp3o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAenxOhlWYXbkIjUfGMsE5PEQl4xp6aQuA</string>
	<key>GCM_SENDER_ID</key>
	<string>650671993158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindbodyhq.admin</string>
	<key>PROJECT_ID</key>
	<string>mindbodyhq</string>
	<key>STORAGE_BUCKET</key>
	<string>mindbodyhq.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650671993158:ios:09552d2dfdd9531268b547</string>
	<key>DATABASE_URL</key>
	<string>https://mindbodyhq.firebaseio.com</string>
</dict>
</plist>